<h1>Sign in</h1>

<p id="notice"><%= notice %></p>

<%= form_with url: session_path, method: :post do |form| %>
  Username <%= form.text_field :username %>
  Password <%= form.password_field :password %>
  <%= form.submit "Log in" %>
<% end %>