<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>


<p>
  <% if @beer.ratings.empty? %>
    Beer has not yet been rated!
    <% else %>
      <% if @beer.ratings.count > 1 %>
        Beer has <%= @beer.ratings.count%> ratings with an average of <%= @beer.average_rating%>.
      <% else %>
        Beer has 1 rating: <%= @beer.ratings.first.score%>.
      <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'All', beers_path %>
<%= button_to 'Destroy', @beer, method: :delete, form: { data: { turbo_confirm: "Do you want to remove #{@beer.to_s}?" } } %>
